<br>
    <div class="div container-fluid">
     <h3> Lista de alumnos</h3>

      <!-- Breadcrumbs-->

      <!-- Page Content -->

    <form action="/alumno/listaAlumnos" method="POST">
      <div class='row'>
          <div class="col-md-3">
            <label>B&uacute;squeda</label>
            <input type="text" class="form-control"  placeholder="Nombres/codigo/dni" name="nombre" value="{{filtros.nombre}}">
          </div>

          <div class='col-md-2'>
            <label>Escuela</label>
            <select class="form-control" name="escuela" value="{{filtros.escuela}}">
              <option value="0">Ambos</option>
              <option value="1">Sistemas</option>
              <option value="2">Software</option>
            </select>
          </div>

          <div class='col-md-2'>
            <label>Observaci&oacute;n psicol&oacute;gica</label>
            <select class="form-control" name="observacion" value="{{filtros.observacion}}">
              <option value="0">Todos</option>
              <option value="1">Ansiedad</option>
              <option value="2">Depresion</option>
            </select>
          </div>

          <div class='col-md-2'>
            <label>Cantidad desaprobados mayor a</label>
              <input type="number" class="form-control" name="desaprobados" value="{{filtros.desaprobados}}">
          </div>

          <div class='col-md-2'>
            <label>Ponderado menor a</label>
              <input type="number" class="form-control" name="ponderado" value="{{filtros.ponderado}}">
          </div>

          <div>
            <button type="submit" class="btn btn-info" style="float:left;margin-top: 20px;">Buscar</button>
            {{!-- <button type="submit" class="btn btn-primary"> Editar datos</button> --}}
          </div>
          

        
      </div>
    </form>

     <br>
      <!-- DataTables Example -->
      <div class="card mb-3">
        <div type="text" class="card-body">
          <div class="table-responsive">          
            <table  class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Codigo</th>
                  <th>Ap. Paterno</th>
                  <th>Ap. Materno</th>
                  <th>E.P.</th>
                  <th>Sit. academica</th>
                  <th>Cant. desaprobados</th>
                  <th>Ponderado</th>


                </tr>
              </thead>
              <tbody>
                {{#each alumnos}}
                  <tr>
                    <td><a href="/alumno/PerfilAlumno/{{codigo}}">{{codigo}}</a></td>
                    <td>{{ApePaterno}}</td>
                    <td>{{ApeMaterno}}</td>
                    <td>{{Escuela}}</td>
                    <td>{{SitAcademica}}</td>
                    <td>{{NumDesaprobados}}</td>
                    <td>{{Ponderado}}</td>
                  </tr>

                {{/each}}


              </tbody>
            </table>
            
          

          </div>
        </div>
      </div>

    </div>
    <!-- /.container-fluid -->
