<div class="tab-content">
     <div class="container p-11">
          <div class="row">
               <div class="col-md-12 mx-auto">
                    <div class="card card-body">
                         <div class="well profile centrado">
                              <div class="row">
                                   <div class="col-sm-10">
                                        <div class="col-xs-12 col-sm-8 ">
                                             <h2>{{a.alumnoApellidoPaterno}} {{a.alumnoApellidoMaterno}}, {{a.alumnoNombre}}
                                             </h2>
                                             <p><strong>Codigo: </strong> {{a.idAlumno}}</p>
                                             <h6><strong>Situacion: </strong>
                                                  <span class="badge badge-primary">Bien</span>
                                             </h6>
                                             <form action="/alumno/imprimirAlumno" method="POST">
                                                  <input type="text" name='imprimir_idAlumno' style="display:none;" value="{{a.idAlumno}}">
                                                  <input type="text" name='imprimir_alumnoDni' style="display:none;" value="{{a.alumnoDni}}">
                                                  <input type="text" name='imprimir_alumnoFacultad' style="display:none;" value="{{a.alumnoFacultad}}">
                                                  <input type="text" name='imprimir_alumnoEscuela' style="display:none;" value="{{a.alumnoEscuela}}">
                                                  <input type="text" name='imprimir_alumnoApellidoPaterno' style="display:none;" value="{{a.alumnoApellidoPaterno}}">
                                                  <input type="text" name='imprimir_alumnoApellidoMaterno' style="display:none;" value="{{a.alumnoApellidoMaterno}}">
                                                  <input type="text" name='imprimir_alumnoNombre' style="display:none;" value="{{a.alumnoNombre}}">
                                                  <input type="text" name='imprimir_alumnoFechaNacimento' style="display:none;" value="{{a.alumnoFechaNacimento}}">
                                                  <input type="text" name='imprimir_alumnoSexo' style="display:none;" value="{{a.alumnoSexo}}">
                                                  <input type="text" name='imprimir_alumnoCorreoIns' style="display:none;" value="{{a.alumnoCorreoIns}}">
                                                  <input type="text" name='imprimir_alumnoPlan' style="display:none;" value="{{a.alumnoPlan}}">
                                                  <input type="text" name='imprimir_ocColegioProced' style="display:none;" value="{{a.ocColegioProced}}">
                                                  <input type="text" name='imprimir_ocDependeDe' style="display:none;" value="{{a.ocDependeDe}}">
                                                  <input type="text" name='imprimir_ocTrabajo' style="display:none;" value="{{a.ocTrabajo}}">
                                                  <input type="text" name='imprimir_ocViveCon' style="display:none;" value="{{a.ocViveCon}}">
                                                  <input type="text" name='imprimir_ocTipoVivienda' style="display:none;" value="{{a.ocTipoVivienda}}">
                                                  <input type="text" name='imprimir_ocTiempoTransporte' style="display:none;" value="{{a.ocTiempoTransporte}}">
                                                  <input type="text" name='imprimir_ocDicapacidad' style="display:none;" value="{{a.ocDicapacidad}}">
                                                  <input type="text" name='imprimir_ocTipoSeguro' style="display:none;" value="{{a.ocTipoSeguro}}">
                                                  <input type="text" name='imprimir_ocApoderado' style="display:none;" value="{{a.ocApoderado}}">
                                                  <input type="text" name='imprimir_ocCorreoApoderado' style="display:none;" value="{{a.ocCorreoApoderado}}">
                                                  <input type="text" name='imprimir_ocTelefCasa' style="display:none;" value="{{a.ocTelefCasa}}">
                                                  <input type="text" name='imprimir_ocMovilApoderado' style="display:none;" value="{{a.ocMovilApoderado}}">
                                                  <input type="text" name='imprimir_ocEstadoCivil' style="display:none;" value="{{a.ocEstadoCivil}}">
                                                  <input type="text" name='imprimir_ocNumeroMovil' style="display:none;" value="{{a.ocNumeroMovil}}">
                                                  <input type="text" name='imprimir_ocCorreoPersonal' style="display:none;" value="{{a.ocCorreoPersonal}}">
                                                  <input type="text" name='imprimir_ocObservacionPsicologica' style="display:none;" value="{{a.ocObservacionPsicologica}}">
                                                  <input type="text" name='imprimir_sumPromedioPonderado' style="display:none;" value="{{a.sumPromedioPonderado}}">
                                                  <input type="text" name='imprimir_sumCantDesaprobados' style="display:none;" value="{{a.sumCantDesaprobados}}">
                                                  <input type="text" name='imprimir_sumCiclo' style="display:none;" value="{{a.sumCiclo}}">
                                                  <input type="text" name='imprimir_sumPermanencia' style="display:none;" value="{{a.sumPermanencia}}">
                                                  <input type="text" name='imprimir_sumSituacionAcademica' style="display:none;" value="{{a.sumSituacionAcademica}}">
                                                  <input type="text" name='imprimir_sumDocenteTutor' style="display:none;" value="{{a.sumDocenteTutor}}">

                                                  <button type="submit" class="btn btn-primary" style="float:left;margin-top: 20px;margin-bottom:15px" formaction="/alumno/imprimirAlumno"><i class="fas fa-print"></i> Imprimir alumno</button>
                                                  <br>
                                             </form>
                                        </div>
                                   </div>
                                   <div class="col-sm-2">
                                        <br>
                                        <a type="button" href="/alumno/listaAlumnos" class="btn btn-warning"> Regresar a la lista</a>
                                        <br>
                                        <br>
                                        <form action="/alumno/perfilAlumno/{{a.idAlumno}}" method="POST" onsubmit="return confirmacion('¿Desea eliminar a este estudiante?')">
                                             <button type="submit" class="btn btn-danger"> Eliminar alumno</button>
                                        </form>
                                   </div>
                              </div>
                              <div class="col-xs-12 divider">

                                   <br>
                                   <ul class="nav nav-tabs">
                                        <li><a data-toggle="tab" class="nav-link active" href="#datos-perfilAcademicos">Perfil académico</a></li>
                                        <li><a data-toggle="tab" class="nav-link" href="#datos-personales">Datos personales</a></li>
                                        <li><a data-toggle="tab" class="nav-link" href="#datos-sum">Datos del SUM</a></li>
                                        <li><a data-toggle="tab" class="nav-link" href="#registro-citas">Registrar cita</a></li>
                                   </ul>
                                   <br>

                                   <div class="tab-content">
                                        <div id="datos-perfilAcademicos" class="tab-pane fade active show">
                                             <div class="row">
                                                  <div class="col-sm-6 ">
                                                  
                                                       <div class="col-xs-12 col-sm-8">
                                                            <p><strong>Apellido paterno: </strong> {{a.alumnoApellidoPaterno}}</p>
                                                            <p><strong>Apellido materno: </strong> {{a.alumnoApellidoMaterno}}</p>
                                                            <p><strong>Nombre: </strong> {{a.alumnoNombre}}</p>
                                                            <p><strong>Codigo: </strong> {{a.idAlumno}}</p>
                                                            <p><strong>Dni: </strong> {{a.alumnoDni}}</p>
                                                            <p><strong>Facultad: </strong> {{a.alumnoFacultad}}</p>


                                                       </div>
                                                  </div>
                                                  <div class="col-sm-6 ">
                                                  
                                                       <div class="col-xs-12 col-sm-8">
                                                            <p><strong>Escuela: </strong> {{a.alumnoEscuela}}</p>
                                                            <p><strong>Plan de estudio: </strong> {{a.alumnoPlan}}</p>
                                                            <p><strong>Correo institucional: </strong> {{a.alumnoCorreoIns}}</p>
                                                            <p><strong>Fecha de nacimiento: </strong> {{a.alumnoFechaNacimento}}</p>
                                                            <p><strong>Sexo: </strong> {{a.alumnoSexo}}</p>

                                                       </div>
                                                   </div>
                                             </div>

                                        </div>

                                         <div id="datos-personales" class="tab-pane fade">
                                             <div class="row">
                                                  <div class="col-sm-6 ">
                                                  
                                                       <div class="col-xs-12 col-sm-8">
                                                            <p><strong>Colegio de procedencia: </strong> {{a.ocColegioProced}}</p>
                                                            <p><strong>Depende de alguien: </strong> {{a.ocDependeDe}}</p>
                                                            <p><strong>Trabajo: </strong> {{a.ocTrabajo}}</p>
                                                            <p><strong>Vive con alguien: </strong> {{a.ocViveCon}}</p>
                                                            <p><strong>Tipo de vivienda: </strong> {{a.ocTipoVivienda}}</p>
                                                            <p><strong>Tiempo de transporte: </strong> {{a.ocTiempoTransporte}}</p>
                                                            <p><strong>Discapacidad presente: </strong> {{a.ocDicapacidad}}</p>
                                                            <p><strong>Tipo de seguro: </strong> {{a.ocTipoSeguro}}</p>
                                                            <p><strong>Observacion psicologica: </strong> {{a.ocObservacionPsicologica}}</p>
                                                            <p><strong>Estado civil: </strong> {{a.ocEstadoCivil}}</p>


                                                       </div>
                                                  </div>
                                                  <div class="col-sm-6 ">
                                                  
                                                       <div class="col-xs-12 col-sm-8">
                                                            <p><strong>Correo personal: </strong> {{a.ocCorreoPersonal}}</p>
                                                            <p><strong>Numero de celular: </strong> {{a.ocNumeroMovil}}</p>
                                                            <br>
                                                            <p><strong>Apoderado: </strong> {{a.ocApoderado}}</p>
                                                            <p><strong>Correo de apoderado: </strong> {{a.ocCorreoApoderado}}</p>
                                                            <p><strong>Telef. casa: </strong> {{a.ocTelefCasa}}</p>
                                                            <p><strong>Movil de apoderado: </strong> {{a.ocMovilApoderado}}</p>
                                                            <br>
                                                            <br>
                                                            <br>
                                                            <a href="/alumno/editarPerfilAlumno/{{a.idAlumno}}" class="btn btn-primary">Editar datos personales</a>
                                                       </div>
                                                   </div>
                                             </div>
                                        </div>

                                        <div id="datos-sum" class="tab-pane fade">
                                             <div class="row">
                                                  <div class="col-sm-12 ">
                                                       <div class="col-xs-12 col-sm-8">
                                                            <p><strong>Ciclo actual del estudiantes: </strong> {{a.sumCiclo}}</p>
                                                            <p><strong>Promedio ponderado: </strong> {{a.sumPromedioPonderado}}</p>
                                                            <p><strong>N° Cursos desaprobados: </strong> {{a.sumCantDesaprobados}}</p>
                                                            <p><strong>Permanencia académica: </strong> {{a.sumPermanencia}}</p>
                                                            <p><strong>Situación académica: </strong> {{a.sumSituacionAcademica}}</p>
                                                            <p><strong>Docente tutor: </strong> {{a.sumDocenteTutor}}</p>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>

                                        <div id="registro-citas" class="tab-pane fade">
                                             <div class="row">
                                                  <div class="col-sm-12 ">
                                                       <div class="col-xs-12 col-sm-12">
                                                            <div class="container p-4">
                                                                 <div class="row">
                                                                      {{#each citas}}
                                                                           <div class="col-md-3">
                                                                                <div class="card text-center">
                                                                                     <div class="card-body">
                                                                                          <a target="_blank">
                                                                                               <h3 class="card-title text-uppercase">
                                                                                                    {{citaFecha}}
                                                                                               </h3>
                                                                                          </a>
                                                                                          <p class="m-2">{{citaHora}}</p>
                                                                                          <p class="m-2">{{citaMotivo}}</p>
                                                                                          <form action="/citas/eliminarCita/{{idCita}}" method="POST" onsubmit="return confirmacion('¿Desea eliminar la cita del {{citaFecha}} a las {{citaHora}}?')">
                                                                                               <p class="m-2"><a href="/citas/verCita/{{idCita}}" class="btn btn-primary">Ver cita</a></p>
                                                                                               <a href="/citas/editarCita/{{idCita}}" class="btn btn-secondary">Editar cita</a>
                                                                                               <button type="submit" class="btn btn-danger"> Eliminar cita</button>
                                                                                               <input type="text" style="display:none;" class="form-control" name="idAlumno" value="{{Alumno_idAlumno}}">
                                                                                          </form>
                                                                                     </div>
                                                                                </div>
                                                                           </div>
                                                                      {{else}}
                                                                           <div class="col-md-4 mx-auto">
                                                                                <div class="text-center">
                                                                                     <h3>No hay citas creadas</h3>
                                                                                </div>
                                                                                
                                                                           </div>
                                                                      {{/each}}
                                                                      
                                                                 </div>
                                                                 <br>
                                                                 <br>
                                                                 <div class="col-md-4 mx-auto">
                                                                      <div class="card card-body text-center">
                                                                           <a href="/citas/crearCita/{{a.idAlumno}}">Crea cita</a>
                                                                      </div>
                                                                 </div>
                                                            </div> 
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>

                                   </div>

                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
